body {
    background: #f8f5f5;
    padding: 0;
    margin: 20px;
    font: 14px "Century Gothic", Futura, sans-serif;
}

.app_wrapper {
    width: 600px;
    margin: auto;
    background: white;
    min-height: 100vh;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    background: #ddd;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.table-scroll {
    height: 100px;
}

.line {
    margin-bottom: 20px;
    width: 300px;
    
}

.header {
    margin: auto;
    width: 1000px;
 
}

.calendar {
    margin-bottom: 20px;
    width: 500px;
    position: relative;
    right: -350px;
    top: -50px;
}

.checkbox {
    margin-bottom: 20px;
    width: 200px;
    position: relative;
    right: -850px;
    top: -120px;
}

.box {
    height: 600px;
    width: 1000px;
    margin: auto;
    position: relative;
    top: -130px;
}

.markerClusterSmall {
    border-radius: 20px;
    font-size: 0.6vw;
    color: #fff;
    font-weight: 900;
    font-family: Open Sans;
    text-transform: uppercase;
 }
 .markerClusterMedium {
    border-radius: 40px;
    font-size: 0.6vw;
    color: #fff;
    font-weight: 900;
    font-family: Open Sans;
    text-transform: uppercase;
 }
 .markerClusterLarge {
    border-radius: 70px;
    font-size: 0.6vw;
    color: #fff;
    font-weight: 900;
    font-family: Open Sans;
    text-transform: uppercase;
 }
 .markerClusterLargeXL {
    border-radius: 70px;
    font-size: 0.6vw;
    color: #fff;
    font-weight: 900;
    font-family: Open Sans;
    text-transform: uppercase;
 }
 .markerClusterLabel {
    display: flex;
    justify-content: center;
    align-items: center;
 }